server {
	include common_params;
	include ssl_params;

	server_name {{ domain_name }};
	location / {
		return 301 https://webmail.talideon.com$request_uri;
	}

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;
}

server {
	include common_params;

	listen 80;
	listen [::]:80;

	server_name {{ domain_name }};
	location / {
		return 301 https://webmail.talideon.com$request_uri;
	}

	access_log off;
}
