server {
	include ssl_params;

	server_name {{ domain_name }};
	location / {
		return 301 https://talideon.com$request_uri;
	}

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;

	access_log off;
}

server {
	include ssl_params;

	server_name www.{{ domain_name }};
	location / {
		return 301 https://{{ domain_name }}$request_uri;
	}

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;

	access_log off;
}

server {
	listen 80;
	listen [::]:80;

	server_name .{{ domain_name }};
	location / {
		return 301 https://{{ domain_name }}$request_uri;
	}

	access_log off;
}
