server {
	include common_params;
	include ssl_params;

	server_name {{ domain_name }};
	root {{ vhosts_root }}/{{ domain_name }}/web;
	index index.html index.htm;

	include letsencrypt_params;

	ssl_certificate {{ tls_root }}/{{ tls_domain | default(domain_name) }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ tls_domain | default(domain_name) }}.pem;

	access_log {{ logs_root }}/{{ domain_name }}.access.log combined;
	error_log {{ logs_root }}/{{ domain_name }}.error.log;
}
