server {
	include common_params;
	include ssl_params;

	server_name {{ domain_name }};
	root {{ vhosts_root }}/{{ domain_name }}/web;
	index index.html;

	rewrite "^/weblog/(%3b|;)feed" https://talideon.com/inklings/feed permanent;
	rewrite "^/weblog(.*)$" https://talideon.com/inklings$1 permanent;

	location = /ideas/ananagyu { return 301 https://i.canthack.it/pages/ananagyu.html; }
	location = /ideas/detecting-broken-images-js { return 301 https://i.canthack.it/detecting-broken-images-js.html; }
	location = /ideas/mosml-pt1 { return 301 https://i.canthack.it/mosml-pt1.html; }
	location = /ideas/the-weave { return 301 https://i.canthack.it/pages/conlanging.html; }
	location = /ideas/rpm-for-the-unwilling { return 301 https://i.canthack.it/rpm-for-the-unwilling.html; }

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;

	access_log {{ logs_root }}/{{ domain_name }}.access.log combined;
	error_log {{ logs_root }}/{{ domain_name }}.error.log;
}

server {
	include common_params;
	include ssl_params;

	server_name www.{{ domain_name }};
	return 301 https://{{ domain_name }}$request_uri;

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;
}

server {
	include common_params;

	listen 80;
	listen [::]:80;

	server_name .{{ domain_name }};
	return 301 https://{{ domain_name }}$request_uri;
}
