server {
	include common_params;
	include ssl_params;

	server_name i.canthack.it;
	root {{ vhosts_root }}/canthack.it/web;
	index index.html index.htm;

	ssl_certificate {{ tls_root }}/canthack.it/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/canthack.it.pem;

	access_log {{ logs_root }}/canthack.it.access.log combined;
	error_log {{ logs_root }}/canthack.it.error.log;
}

server {
	include common_params;
	include ssl_params;

	server_name .canthack.it;
	return 301 https://i.canthack.it$request_uri;

	ssl_certificate {{ tls_root }}/canthack.it/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/canthack.it.pem;
}

server {
	include common_params;

	listen 80;
	listen [::]:80;

	server_name .canthack.it;
	return 301 https://$host$request_uri;
}
