server {
	include common_params;
	include ssl_params;

	server_name {{ domain_name }};
	root {{ vhosts_root }}/{{ domain_name }}/web;
	index index.html index.htm;

	location /springer {
		autoindex on;
		alias {{ vhosts_root }}/{{ domain_name }}/springer;

		auth_basic "Friends of the Ball of Chaos";
		auth_basic_user_file "{{ vhosts_root }}/{{ domain_name }}/speck.htpasswd";
	}

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;

	access_log {{ logs_root }}/{{ domain_name }}.access.log combined;
	error_log {{ logs_root }}/{{ domain_name }}.error.log;
}

server {
	listen 80;
	listen [::]:80;

	server_name {{ domain_name }};
	return 301 https://{{ domain_name }}$request_uri;

	access_log off;
}
