<!DOCTYPE html>
<html lang="en-ie" dir="ltr"><head>
	{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ config.site_name }}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,400i,600&display=swap">
	<link href="{{ base_url }}/css/style.css" rel="stylesheet" type="text/css" media="screen">

	{% for path in extra_css %}
	<link href="{{ path }}" rel="stylesheet">
	{% endfor %}

	{% for path in extra_javascript %}
	<script src="{{ path }}"></script>
	{% endfor %}

	{% block extrahead %}{% endblock %}
	{% endblock %}

</head><body>

	<main>
	{% block content %}
	{{ page.content }}
	{% endblock %}
	</main>

	<footer>
	{% block footer %}
	{% if config.copyright %}Copyright &copy; {{ config.copyright }}{% endif %}
	{% endblock %}
	</footer>

</body></html>
