SECRET_KEY = None  # Disable sessions

APPLICATION_ROOT = "/inklings"
PREFERRED_URL_SCHEME = "https"

BLOG_TITLE = "Inklings"
BLOG_SUBTITLE = "A stream of random things"
BLOG_AUTHOR = "Keith Gaughan"
BLOG_RIGHTS = "Copyright (c) " + BLOG_AUTHOR + " 2001-2024"
FEED_ID = "tag:talideon.com,2001:weblog"

# Application configuration.
DB_PATH = "{{ db_path }}"
HTPASSWD_PATH = "{{ vhosts_root }}/{{ domain_name }}/komorebi.htpasswd"

# vim:set ft=python:
