import secrets

# Needed for the form flash. It doesn't need to be stable, nor does it need
# to be secure, really. It just needs to be stable when the service starts
# up.
SECRET_KEY = secrets.token_bytes(64)

APPLICATION_ROOT = "/inklings"
PREFERRED_URL_SCHEME = "https"

BLOG_TITLE = "Inklings"
BLOG_SUBTITLE = "A stream of random things"
BLOG_AUTHOR = "Keith Gaughan"
BLOG_RIGHTS = "Copyright (c) " + BLOG_AUTHOR + " 2001-2025"
FEED_ID = "tag:talideon.com,2001:weblog"

# Database configuration
DB_HOST = "{{ db_host }}"
DB_DATABASE = "{{ db_name }}"
DB_USER = "{{ db_user }}"
DB_PASSWORD = "{{ db_password }}"

CACHE_TYPE = "FileSystemCache"
CACHE_DIR = "{{ vhosts_root }}/{{ domain_name }}/cache"

# Application configuration.
PASSWD_PATH = "{{ vhosts_root }}/{{ domain_name }}/komorebi.passwd.json"

# vim:set ft=python:
