map_hash_bucket_size 128;

map $uri $talideon_new_path {
	/Getting%20Ubuntu%20running%20on%20a%20Lenovo%20Miix%20310 /getting-ubuntu-up-and-running-on-a-lenovo-miix-310.html;
	/ubuntu-lenovo-miix-310/ /getting-ubuntu-up-and-running-on-a-lenovo-miix-310.html;
	/about/ /pages/about.html;
	/about/contact/ /pages/about.html;
	/concultures/ /pages/conlanging.html;
	/concultures/ananagyu/ /pages/ananagyu.html;
	/concultures/ananagyu/nouns.cfm /pages/ananagyu.html;
	/concultures/porteressia/ /pages/porteressia.html;
	/downloads/gridbag.pdf /attachments/gridbag.pdf;
	/downloads/hackers-diet/ladder.pdf /attachments/hackers-diet/ladder.pdf;
	/downloads/hackers-diet/log.pdf /attachments/hackers-diet/log.pdf;
	/feed/ /feeds/all.xml;
	/rss.xml /feeds/all.xml;
}

map $uri $talideon_slug {
	/weblog/2004/08/i-love-sage.cfm i-love-sage;
	/weblog/2004/09/always-finish-projects.cfm always-finish-projects;
	/weblog/2004/09/bayesian-categorisation.cfm bayesian-categorisation;
	/weblog/2004/09/comments-in-weblogs.cfm comments-in-weblogs;
	/weblog/2004/09/fowler-on-closures.cfm fowler-on-closures;
	/weblog/2004/09/google-codejam-2004-2.cfm google-codejam-2004-2;
	/weblog/2004/09/idea-aggregator-server.cfm idea-aggregator-server;
	/weblog/2004/09/implementing-categories.cfm implementing-categories;
	/weblog/2004/09/return-of-comments.cfm return-of-comments;
	/weblog/2004/09/slow-submission.cfm slow-submission;
	/weblog/2004/09/starting-hackers-diet.cfm starting-hackers-diet;
	/weblog/2004/10/bayesian-comment-moderation.cfm bayesian-comment-moderation;
	/weblog/2004/10/cork-flooded.cfm cork-flooded;
	/weblog/2004/10/hackers-diet-downloads.cfm starting-hackers-diet;
	/weblog/2004/10/on-starting-a-new-project.cfm on-starting-a-new-project;
	/weblog/2004/10/windows-listen-file-changes.cfm windows-listen-file-changes;
	/weblog/2004/11/first-java-reflection-use.cfm first-java-reflection-use;
	/weblog/2004/12/area51-opens.cfm area51-opens;
	/weblog/2004/12/fusionwiki-first-commit.cfm kwiki-fusionwiki;
	/weblog/2004/12/kwiki-fusionwiki.cfm kwiki-fusionwiki;
	/weblog/2004/12/my-ring-tone-lament.cfm my-current-ring-tone;
	/weblog/2004/12/sourceforge-approves-fusionwiki.cfm kwiki-fusionwiki;
	/weblog/2004/12/worried-tsunami.cfm worried-tsunami;
	/weblog/2005/01/i-want-stringtemplate-for-php.cfm i-want-stringtemplate-for-php;
	/weblog/2005/01/scar-describing-morphosyntax.cfm scar-describing-morphosyntax;
	/weblog/2005/02/detecting-broken-images-js.cfm detecting-broken-images-js;
	/weblog/2005/02/detecting-broken-images-js.cfm. detecting-broken-images-js;
	/weblog/2005/02/restarting-mocha.cfm restarting-mocha;
	/weblog/2005/03/js-memory-leaks.cfm js-memory-leaks;
	/weblog/2005/04/dumb-terminals-term-svc dumb-terminals-term-svc;
	/weblog/2005/04/dumb-terminals-term-svc.cfm dumb-terminals-term-svc;
	/weblog/2005/05/dungeon-siege-2-pseudobeta.cfm dungeon-siege-2-pseudobeta;
	/weblog/2005/05/htmlformelement-missing.cfm htmlformelement-missing;
	/weblog/2005/05/voting-stv-surpluses-useless.cfm voting-stv-surpluses-useless;
	/weblog/2005/05/xmlparser.cfm xmlparser;
	/weblog/2005/07/demystify-gridbag.cfm demystify-gridbag;
	/weblog/2005/07/javascript-memoization.cfm javascript-memoization;
	/weblog/2005/07/javascript-memoization.cfm. javascript-memoization;
	/weblog/2005/07/php-templating-engine.cfm php-templating-engine;
	/weblog/2005/08/java-html-scrubber.cfm java-html-scrubber;
	/weblog/2005/08/xp-and-bduf.cfm xp-and-bduf;
	/weblog/2006/01/sufficient-robustness.cfm sufficient-robustness;
	/weblog/2006/01/this-site-sucks.cfm this-site-sucks;
	/weblog/2006/01/weight.cfm weight;
	/weblog/2006/02/bugger-off-back-up-north.cfm bugger-off-back-up-north;
	/weblog/2006/02/dsl-finally-activated.cfm dsl-finally-activated;
	/weblog/2006/02/dsl-modem-arrives.cfm dsl-modem-arrives;
	/weblog/2006/02/feb-leaving-boston.cfm feb-leaving-boston;
	/weblog/2006/02/how-syncope-works.cfm how-syncope-works;
	/weblog/2006/02/mcdowell-riot-unexpected-crap.cfm mcdowell-riot-unexpected-crap;
	/weblog/2006/02/or-sick-for-that-matter.cfm or-sick-for-that-matter;
	/weblog/2006/04/plgx.cfm plgx;
	/weblog/2006/05/fisking-myers-on-gay-marriage.cfm fisking-myers-on-gay-marriage;
	/weblog/2006/05/inform7.cfm inform7;
	/weblog/2006/05/reactor.cfm reactor;
	/weblog/2006/07/tir-gan-teanga-tir-gan-anam.cfm tir-gan-teanga-tir-gan-anam;
	/weblog/2007/06/h365-hamster.cfm h365-hamster;
	/weblog/2007/09/sum-coalesce.cfm sum-coalesce;
	/weblog/2007/09/the-monologue.cfm the-monologue;
	/weblog/2007/10/rsd-rnc.cfm rsd-rnc;
	/weblog/2007/10/svk-to-bzr.cfm svk-to-bzr;
	/weblog/2008/01/debian-merging-isos.cfm debian-merging-isos;
	/weblog/2008/01/rpm-unwilling.cfm rpm-for-the-unwilling;
	/weblog/2008/02/cooling-problems.cfm cooling-problems;
	/weblog/2008/02/find-duplicates.cfm find-duplicates;
	/weblog/2008/02/freebsd-shell-keybindings.cfm freebsd-shell-keybindings;
	/weblog/2008/03/mosml-pt1.cfm mosml-pt1;
	/weblog/2008/05/python-netstring-reader.cfm python-netstring-reader;
	/weblog/2008/05/srgp.cfm srgp;
	/weblog/2008/06/droidwars-vm.cfm droidwars-vm;
	/weblog/2008/06/snowblindness.cfm snowblindness;
	/weblog/2008/08/on-rest.cfm on-rest;
	/weblog/2008/12/harry-potter-kata.cfm harry-potter-kata;
	/weblog/2009/01/minesweeper-kata.cfm minesweeper-kata;
}

server {
	include common_params;
	include ssl_params;

	server_name {{ domain_name }};
	root {{ vhosts_root }}/{{ domain_name }}/web;
	index index.php index.html index.htm;

	location /inklings/ {
		proxy_pass http://127.0.0.1:8000/;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
	}

	location /inklings/static/ {
		alias {{ vhosts_root }}/{{ domain_name }}/inklings/komorebi/static/;
	}

	location = "/code/qbal/spec/" { return 301 https://mirrors.talideon.com/articles/qbal/; }
	location = "/downloads/star-w.pdf" { return 301 https://mirrors.talideon.com/articles/star-w.pdf; }
	location = "/inklings/%3bfeed" { return 301 https://{{ domain_name }}/inklings/feed; }
	location = "/inklings/;feed" { return 301 https://{{ domain_name }}/inklings/feed; }
	location = "/linklog/" { return 301 https://{{ domain_name }}/inklings/; }
	location = "/linklog/syndication.cfm" { return 301 https://{{ domain_name }}/inklings/feed; }
	location = "/notes/" { return 301 https://stereochro.me/projects/dcom3notes; }
	location = "/projects/elementnode/" { return 301 https://github.com/kgaughan/elementnode; }
	location = "/projects/qbal/" { return 301 https://mirrors.talideon.com/articles/qbal/; }
	location = "/reader/" { return 301 https://reader.talideon.com/; }
	location = "/weblog/" { return 301 https://{{ domain_name }}/inklings/; }
	location = "/weblog/syndication.cfm" { return 301 https://{{ domain_name }}/inklings/feed; }
	location ~ "/notes/dcom3/(.*)" { return 301 https://stereochro.me/assets/uploads/notes/dcom3/$1; }

	if ($talideon_new_path) {
		return 301 https://i.canthack.it$talideon_new_path;
	}
	if ($talideon_slug) {
		return 301 https://i.canthack.it/$talideon_slug.html;
	}

	add_header Content-Security-Policy "default-src 'self'; script-src https://*.talideon.com https://cdnjs.cloudflare.com 'unsafe-inline' 'unsafe-eval' 'self'; style-src https://cdnjs.cloudflare.com https://fonts.googleapis.com 'unsafe-inline' 'self'; font-src https://fonts.gstatic.com 'self'; object-src https://*.talideon.com https://www.youtube-nocookie.com" always;

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;

	access_log {{ logs_root }}/{{ domain_name }}.access.log combined;
	error_log {{ logs_root }}/{{ domain_name }}.error.log;
}

server {
	include common_params;
	include ssl_params;

	server_name www.{{ domain_name }};
	return 301 https://{{ domain_name }}$request_uri;

	ssl_certificate {{ tls_root }}/{{ domain_name }}/fullchain.pem;
	ssl_certificate_key {{ tls_root }}/private/{{ domain_name }}.pem;
}

server {
	include common_params;

	listen 80;
	listen [::]:80;

	server_name .{{ domain_name }};
	return 301 https://$host$request_uri;
}
